

.task-main{
    --task-main-width: 900px;
    --task-main-height: 700px;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    margin: auto;
    max-width: var(--task-main-width);
    height: var(--task-main-height);
}

.task-input{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.task-list{
    overflow-y: auto;
}

.task-input input{
    border: 2px solid lightgray;
    border-radius: 5px 0px 0px 5px;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0px;
    background-color: white;
    width: calc(var(--task-main-width) * 0.7);
}

.task-input button{
    margin: 10px 0px;
    cursor: pointer;
    border: 2px solid gray;
    background-color: lightgray;
    border-radius: 0px 5px 5px 0px;
}

.task-date{
    position: relative;
    margin: 0px 10px;
}

.task-date p{
    color: gray;
    font-size: 14px;
    text-align: right;
}